Flask
flask-dance
requests
PyMongo
python-dotenv
Werkzeug
uuid
gunicorn  # <-- Add this for production
GitPython
Flask-PyMongo   # <-- You were using this in an older version, make sure it's here